body{
    margin: 0;
    /* padding: properties are sued to generate space around an element's comment, inside of any defined borders*/
    padding: 0;
    background: url(background.jpg) no-repeat;
    background-size: cover;
  }
  /*https://www.youtube.com/watch?v=gXkqy0b4M5g*/
  /* I followed above youtube video to make navigation bar*/
  /*Creating Horizontal Navigation Bar by using inline */
  li{
    display: inline;
  }
  
  /*Properties of block of nav bar, I put the background-color inside of a instead of ul, 
  because I didn't want a full- width background color */
  a {
    display: block;
    padding: 8px;
    background-color: #2F4F4F;
  }
  
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
   /*Locate the Navigation Bar to the right side */
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Commissioner', sans-serif;
  }
  
  /* Change the link color to ##DEB887 on hover */
  li a:hover {
    background-color: #696969;
  }
 .entry{
    width: 300px;
    /*used float: left, so the images came from the left*/
    float: left;
    /*Gave margin top 100px for entry on the left and headings and paragraphs on the right side. So it matches on the layout*/
    margin-top: 100px;
    margin: 30px;
    margin-left: 50px;
 } 

figure img{
    width: 300px;
    height: 350px;
    border-radius: 50%;
}
h1{
  font-style: italic;
  font-size: 50px;
  color: pink;
 }
 h2{
   color: #E8CAEE;
    font-size: 35px;
 }
 h3{
  color: #D2A5E3;
  font-size: 30px;
}

p{
  color:#C8C7EE;
  font-size: 20px;
 }

 /*Positions for the h tags and p tags*/
.veryimp{
  /*used float: left, so the images came from the right*/
    float: right;
    width: 750px;
    margin-right: 70px;
    /*Gave margin top 100px for entry on the left and headings and paragraphs on the right side. So it matches on the layout*/
    margin-top: 100px;
    margin-bottom: 100px;
  }

.entry1{
  width: 220px;
  float: left;
  margin-right: 50px;
  margin-top: 250px;
  margin: 30px;
  }

figure img{
  width: 350px;
  height: 350px;
  border-radius: 50%;
  }
 
  /* Positions of h and p tags*/
.abouthobby{
    float: right;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 50px;
  }
