body{
    margin: 0;
    /* padding: properties are sued to generate space around an element's comment, inside of any defined borders*/
    padding: 0;
    background: url(background.jpg) no-repeat;
    background-size: cover;
  }
  /*Creating Horizontal Navigation Bar by using inline */
  li{
    display: inline;
  }
  
  /*Properties of block of nav bar, I put the background-color inside of a instead of ul, 
  because I didn't want a full- width background color */
  a {
    display: block;
    padding: 8px;
    background-color: #2F4F4F;
  }
  
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
   /*Locate the Navigation Bar to the right side */
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Commissioner', sans-serif;
  }
  
  /* Change the link color to ##DEB887 on hover */
  li a:hover {
    background-color: #696969;
  }
 .entry{
    width: 300px;
    /*used float: left, so the images came from the left*/
    float: left;
    /*Gave margin top 100px for entry on the left and headings and paragraphs on the right side. So it matches on the layout*/
    margin-top: 100px;
    margin: 30px;
    margin-left: 50px;
 } 

figure img{
    width: 300px;
    height: 350px;
    border-radius: 50%;
}
h1{
  font-style: italic;
  font-size: 50px;
  color: pink;
}
h2{
  font-style: italic;
  color: pink;
  font-size: 35px;
}
p{
  color: pink;
  font-size: 20px;
}
.veryimp{
  /*used float: left, so the images came from the right*/
    float: right;
    width: 750px;
    margin-right: 70px;
    /*Gave margin top 100px for entry on the left and headings and paragraphs on the right side. So it matches on the layout*/
    margin-top: 100px;
    margin-bottom: 100px;
    
  }

